.title-line {
  padding: 0 !important;
  .toolbar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;

    .title-logo {
      width: 10vw;
    }

    .toolbar-text {
      text-align: center;
      flex-grow: 1;
    }

    .title-settings {
      width: 10vw;
    }
  }
}

.main-page {

  .welcome-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    ion-icon {
      color: $atp-gold;
    }

    .credits {
      display: flex;
      border: 2px black solid;
      align-items: center;
      font-weight: 600;
      border-radius: 10px;

      .buy-credits {
        padding: 0 4px;
        border-right: 2px black solid;
        font-size: 1.2em;
        background-color: #32db64;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
      }

      .credits-amount {
        padding-left: 10px;
      }

      .credits-coins {
        padding: 0 4px;
      }
    }
  }

  .middle-area {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 12px 0;
    max-height: 30vh;

    .button-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .trophy-button {
        width: 6vh;
        height: 6vh;
        color: $atp-gold;
        border-width: 2px;
      }
    }
    .text-area {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-size: 1.2em;
      span {
        padding: 12px;
      }
    }
    .atp-btn {
      display: flex;
      button {
        height: inherit;
        line-height: 150%;
        font-size: 1.4em;
        font-weight: 600;
      }
    }
  }

  .survey-button {
    height: 9vh;
    margin-bottom: 3vh;
    span {
      height: 9vh;
    }
  }
}