<ion-navbar *navbar>
    <ion-title class="title-line">
        <img src="img/appicon.png" class="title-logo">
        <span class="toolbar-text">Ask The People</span>
        <button dark clear class="title-settings" (click)="openSettingsPage()"><ion-icon name="settings"></ion-icon></button>
    </ion-title>
</ion-navbar>

<ion-content padding class="main-page">
    <div class="welcome-line">
        <span *ngIf="model.user.username">Logged in as: <strong>{{model.user.username}}</strong></span>
        <span *ngIf="!model.user.username">You are unregistered <ion-icon name="help-circle" (click)="showAnonymousAlert()"></ion-icon></span>
        <div class="credits" (click)="openPurchasePage()">
            <div class="buy-credits">+</div>
            <div class="credits-amount">{{model.user.credits}}</div>
            <div class="credits-coins"><ion-icon name="ribbon"></ion-icon></div>
        </div>
    </div>
    <div class="middle-area">
        <div class="button-area">
            <button (click)="openHighscorePage()" dark outline class="trophy-button border-radius"><ion-icon name="trophy"></ion-icon></button>
        </div>
        <div class="text-area">
            <span>You asked <strong>{{model.user.surveysStarted}}</strong> questions</span>
            <span>You helped <strong>{{model.user.surveysAnswered}}</strong> people</span>
        </div>
    </div>
    <button (click)="openSurveyPage()" full large class="survey-button border-radius">Earn some Credits!</button>
    <ion-list>
        <ion-item *ngIf="!last3surveys" class="text-center"><ion-spinner name="bubbles"></ion-spinner></ion-item>
        <survey-list [surveys]="last3surveys" *ngIf="last3surveys && last3surveys.length > 0"></survey-list>
        <ion-item *ngIf="last3surveys" class="text-center">
            <button large (click)="gotoStartSurvey()" class="border-radius">Start new ATP</button>
        </ion-item>
    </ion-list>
</ion-content>