<ion-toolbar position="top">
    <div class="title-line">
        <img src="img/appicon.png" class="title-logo">
        <span class="toolbar-title">Ask The People</span>
        <button dark clear class="title-settings"><ion-icon name="settings"></ion-icon></button>
    </div>
</ion-toolbar>

<ion-content padding class="main-page">
    <div class="welcome-line">
        <span *ngIf="model.user.username">Hello {{model.user.username}}</span>
        <span *ngIf="!model.user.username">Hello ANONYMOUS <ion-icon name="help-circle" (click)="showAnonymousAlert()"></ion-icon></span>
        <div class="credits">
            <div class="buy-credits">+</div>
            <div class="credits-amount">{{model.user.credits}}</div>
            <div class="credits-coins"><ion-icon name="ribbon"></ion-icon></div>
        </div>
    </div>
    <div class="middle-area">
        <div class="button-area">
            <button dark clear><ion-icon name="trophy"></ion-icon></button>
            <button dark clear><ion-icon name="chatbubbles"></ion-icon></button>
            <button dark clear><ion-icon name="list-box"></ion-icon></button>
        </div>
        <div class="text-area">
            <span>You asked {{model.user.surveysStarted}} questions</span>
            <span>You helped {{model.user.surveysAnswered}} people</span>
        </div>
        <div class="atp-btn">
            <button (click)="openStartSurveyPage()" outline>A<br/>T<br/>P</button>
        </div>
    </div>
    <button (click)="openSurveyPage()" large>Earn some Credits!</button>
    <ion-card>
        <ion-card-header>Your latest surveys<button (click)="openStartSurveyPage()" secondary round small>start new</button></ion-card-header>
        <survey-list [surveys]="last3surveys" [surveyCount]="3"></survey-list>
    </ion-card>
</ion-content>