@import "../components/surveyList";
@import "../pages/highscore/highscore";
@import "../pages/highscore/highscoreEntry";
@import "../pages/main/main";
@import "../pages/loading/loading";
@import "../pages/login/login";
@import "../pages/settings/settings";
@import "../pages/startSurvey/startSurvey";
@import "../pages/survey/survey";
@import "../pages/surveyDetails/surveyDetails";

ion-title {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.popover-content {
  border: 1px black solid;
}

.no-padding-vertical {
  padding-top: 0;
  padding-bottom: 0;
}

.border-radius {
  border-radius: 10px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-center {
  text-align: center;
}

.light-background {
  background-color: $atp-light;
}

ion-content {
  background-image: url('/img/background.jpg');
}

.item {
  background-color: inherit;
}

.text-danger {
  color: $atp-danger;
  font-weight: 600;
}

