@import "margins";
@import "../components/surveyList";
@import "../pages/highscore/highscore";
@import "../pages/highscore/highscoreEntry";
@import "../pages/main/main";
@import "../pages/messages/messages";
@import "../pages/loading/loading";
@import "../pages/settings/settings";
@import "../pages/startSurvey/startSurvey";
@import "../pages/survey/survey";
@import "../pages/surveyDetails/surveyDetails";
@import "../pages/welcome/welcome";

ion-title {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &.has-back-arrow {
    .toolbar-title {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

.popover-content {
  border: 1px black solid;
}

.border-radius {
  border-radius: 10px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-center {
  text-align: center;
}

.small-headline {
  color: $atp-grey;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.color-grey {
  color: $atp-grey;
}

.color-dark {
  color: $atp-dark-text;
}

.light-background {
  background-color: $atp-light;
}

ion-content {
  background-image: url('/img/background.jpg');
}

.item {
  background-color: inherit;
}

.text-danger {
  color: $atp-danger;
  font-weight: 600;
}

.text-placeholder {
  color: $atp-placeholder-grey !important;
}

.ion-date-placeholder {
  @extend .text-placeholder;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.no-border {
  border: 0;
}

.float-right {
  float: right;
}

.buttongroup {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  button:first-child {
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    margin-left: 0;
  }

  button:last-child {
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-right: 0;
  }

  button {
    position: relative;
    float: left;
    box-shadow: none;
    margin: 0 -1px;
    border-radius: 0px;
  }
}