.login-page {
  .login {
    font-weight: 600;
    text-decoration: underline;
    border-bottom: none;
    ion-icon {
      width: 3vw;
    }
  }

  .country {
    float: right;
  }
  .flag {
    height: 1.3em;
    vertical-align: bottom;
  }
}