<ion-header>
    <ion-navbar>
        <ion-title>Register</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="login-page">
    <ion-list>
        <ion-item>
            <ion-label>Year of birth:</ion-label>
            <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" min="1900" max="2016" [(ngModel)]="year" (ionChange)="saveYear()"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Gender:</ion-label>
            <ion-segment [(ngModel)]="user.male" item-right>
                <ion-segment-button value="true">
                    Male
                </ion-segment-button>
                <ion-segment-button value="false">
                    Female
                </ion-segment-button>
            </ion-segment>
        </ion-item>
        <ion-item (click)="chooseCountry()">
            <ion-label>Country: <span *ngIf="user.country" class="country"><img src="img/flags/{{user.country}}.png" class="flag"> {{countryName}}</span>
                <span *ngIf="!user.country" class="country-placeholder">Please select...</span></ion-label>
        </ion-item>
        <ion-item><button full [disabled]="registerFormInvalid()" (click)="register()">Register</button></ion-item>
        <ion-list-header class="login" (click)="showLoginForm = !showLoginForm">
            <ion-icon name="arrow-dropdown" *ngIf="showLoginForm"></ion-icon>
            <ion-icon name="arrow-dropright" *ngIf="!showLoginForm"></ion-icon>
            or Login
        </ion-list-header>
        <ion-item *ngIf="showLoginForm">
            <ion-label floating>Username</ion-label>
            <ion-input type="text" [ngFormControl]="username"></ion-input>
        </ion-item>
        <ion-item *ngIf="showLoginForm">
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [ngFormControl]="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="showLoginForm"><button full [disabled]="!loginForm.valid" (click)="login()">Login</button></ion-item>
    </ion-list>
</ion-content>