.login-page {
  .login {
    font-weight: 600;
    text-decoration: underline;
    border-bottom: none;
    ion-icon {
      width: 3vw;
    }
  }
  .item-input ion-label, .item-select ion-label, .item-datetime ion-label {
    color: inherit;
  }
  .country {
    float: right;
  }

  .country-placeholder {
    float: right;
    color: #8c8c8c
  }

  .flag {
    height: 1.3em;
    vertical-align: bottom;
  }
}